* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

md-list-item > div.md-primary > md-icon:not(.md-avatar-icon), md-list-item > div.md-secondary > md-icon:not(.md-avatar-icon), md-list-item > md-icon:first-child:not(.md-avatar-icon), md-list-item > md-icon.md-secondary:not(.md-avatar-icon), md-list-item .md-list-item-inner > div.md-primary > md-icon:not(.md-avatar-icon), md-list-item .md-list-item-inner > div.md-secondary > md-icon:not(.md-avatar-icon), md-list-item .md-list-item-inner > md-icon:first-child:not(.md-avatar-icon), md-list-item .md-list-item-inner > md-icon.md-secondary:not(.md-avatar-icon) {
  margin-top: 8px;
  margin-bottom: 8px; }

.md-datepicker-input-mask {
  width: auto; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format("woff2"), url(/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff) format("woff"), url(/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format("truetype"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
     -moz-font-feature-settings: 'liga';
          font-feature-settings: 'liga'; }

body {
  background-color: #FAFAFA; }

.container {
  padding-top: 50px; }

#gallery {
  position: relative;
  margin: 0 auto;
  height: 337px;
  width: 600px;
  background-color: #212121;
  overflow: auto; }
  #gallery .gallery-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px; }
    #gallery .gallery-grid .img-wrapper {
      cursor: pointer; }
      #gallery .gallery-grid .img-wrapper .img-tile-div {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; }
  #gallery .gallery-show {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000; }
    #gallery .gallery-show.ng-animate {
      -webkit-transition: all 0.5s cubic-bezier(0.35, 0, 0.25, 1);
      transition: all 0.5s cubic-bezier(0.35, 0, 0.25, 1); }
    #gallery .gallery-show.ng-enter {
      opacity: 0; }
    #gallery .gallery-show.ng-enter.ng-enter-active {
      opacity: 1; }
    #gallery .gallery-show.ng-leave {
      opacity: 1; }
    #gallery .gallery-show.ng-leave-active {
      opacity: 0; }
    #gallery .gallery-show .img-show-div {
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }
      #gallery .gallery-show .img-show-div:hover > .img-toolbar {
        opacity: 1; }
      #gallery .gallery-show .img-show-div .img-toolbar {
        opacity: 0;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.87)), to(transparent));
        background: -webkit-linear-gradient(rgba(0, 0, 0, 0.87), transparent);
        background: linear-gradient(rgba(0, 0, 0, 0.87), transparent);
        -webkit-transition: all 0.5s cubic-bezier(0.35, 0, 0.25, 1);
        transition: all 0.5s cubic-bezier(0.35, 0, 0.25, 1); }
        #gallery .gallery-show .img-show-div .img-toolbar md-icon {
          color: white; }
