<!DOCTYPE html>
<html ng-app="Gallery">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Styles -->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <title>Gallery</title>
  </head>
  <body ng-controller="GalleryController" ng-cloak>

    <div class="container">
      <div id="gallery">

        <div class="gallery-grid" ng-if="!imageShow.state">
          <md-grid-list md-cols="4"
                        md-row-height="1:1"
                        md-gutter="0.5em">
            <md-grid-tile ng-repeat="image in images"
                          ng-click="displayImage($index)"
                          class="img-wrapper">
              <div class="img-tile-div" style="background-image: url({{ image }})"></div>
            </md-grid-tile>
          </md-grid-list>
        </div>

        <div class="gallery-show" ng-if="imageShow.state">
          <div class="img-show-div" style="background-image: url({{ imageShow.image }})">
            <div class="img-toolbar" layout="row">
              <md-button ng-click="displayGrid()" class="md-icon-button">
                <md-icon>arrow_back</md-icon>
              </md-button>
              <md-button ng-click="deleteImage(imageShow.imageIndex)" class="md-icon-button">
                <md-icon>delete</md-icon>
              </md-button>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Scripts -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>

    <script src="/assets/js/app.js"></script>

  </body>
</html>
